@charset "utf-8";
/* CSS Document */
*{ box-sizing: border-box}
.img-100{
	width: 100%;height: auto
}
.container{
	width: 80%; margin: 0 auto
}
body{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; font-size: 16px; color: #666666;margin: 0
}
header{
	width: 100%;height: 60px;background-color: #FAA439
}
.logo{
	float: left
}
.menu{
	float: right; padding-top: 18px
}
.menu a{
	padding: 10px 12px; font-size: 17px; color: white; text-decoration: none; text-transform: capitalize
}
.menu a:hover{
	color: red
}
main{
	width: 100%; min-height: 500px; clear: both
}
footer{
	width: 100%; height: 50px; background-color: #FAA439; text-align: center; color: white; padding-top: 2px; font-size: 14px; clear: both; font-weight: 600
}
.w-25{
	width: 25%; padding: 15px; float: left
}
.vien{
	width: 100%; min-height: 200px;border: 1px solid blue; border-radius: 10px; padding: 10px; text-align: center; margin-top: 20px; margin-bottom: 20px
}
.bo-goc{
	border-radius: 10px
}
.tour{
	font-size: 13px; color: blue; font-weight: 600
		
		
}
.gia{
	color: red; font-weight: 400px; font-size: 12px
}
.w-40{
	
	width: 40%; padding: 15px; float: left
}
.w-60{
	width: 60%; padding: 15px; float: left
}
.text-xanh{
	color: blue
}
.form-control{
	padding: 8px; margin-bottom: 10px; width: 100%
}
.btn{
	padding: 10px 20px; background-color: #825FFA; border: none;color: white;border-radius: 15px;cursor: pointer;margin-right: 10px
}
.btn:hover{
	background-color: #2710AB
}
.vien-xam{
	width: 100%;min-height: 300px;border: 1px solid #BFBCBC;border-radius: 10px;padding: 15px; margin-bottom: 20px
}